#title, #sub {
    font-family: 'Impact', sans-serif;
    color: #e1e1e1;
    text-align: center;
}

#title {
    font-size: 50pt;
}

#sub {
    font-style: italic;
    /* background-color: #fff; */
    /* color: #1260af; */
}

#air{
    background-color: #e1e1e1;
    color: #1260af;
    border-color: #e1e1e1;
}

#login {
    /* width: 50%; */
}

body {
  background-image: url("../assets/city.jpg"); 
  background-size: cover;
  display:flex;
  align-items:center;
  height: 100%;
}

html {
    height: 100%;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden;
}

#inputGroup-sizing-default {
    background-color: #e1e1e1;
    color: #1260af !important;
    border-color: #1260af;
    width: 100px;
    /* padding: 10px; */
    /* margin-left: 16px; */
}

#address {
    background-color: #e1e1e1;
    color: #e1e1e1;
    border-color: #e1e1e1;
    width: 10px !important;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

#user, #pass, #bal, #balance, #addr {
    background-color: #e1e1e1;
    color: #e1e1e1;
    border-color: #e1e1e1;
    width: 100px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

.input-group {
    margin: 3px;
}

.row {
    padding-left: 25% !important;
    padding-right: 25% !important;
    padding-top: 10% !important;
    padding-bottom: 10% !important;
}

#link {
    color: #e1e1e1;
}

#username, #password {
    /* background-color: #fff; */
    background: transparent;
    color: #e1e1e1;;
    border-color: #1260af;
    /* width: 50px; */
    padding: 5px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #e1e1e1;
}

#button {
    background-color: #e1e1e1;
    color: #1260af;
    border-color: #1260af;
}

#loginBtn {
    /* background-color: #fff; */
    color: #e1e1e1;
    /* border-color: #1260af; */
    background: transparent;
}

/* #password {
    background-color: #fff;
    color: #02c93a;
    border-color: #02c93a;
    width: 150px;
    padding: 5px;
    text-align: center;
} */
