body {
    background-image: url("../assets/city.jpg"); 
    background-size: cover;
    /* display:flex;
    align-items:center; */
    height: 100% !important;
}

.btn-circle {
    width: 50px;
    height: 50px;
    /* padding: 6px 0px; */
    border-radius: 50% !important;
    text-align: center;
    font-size: 12px;
    /* line-height: 1.42857; */
}

.btn-req {
    width: 40px;
    height: 40px;
}

.dropdown-toggle {
    width: 50px;
    height: 35px;
    color: #1260af !important;
    background-color: #e1e1e1 !important;
}

#title {
    font-family: 'Impact', sans-serif;
    color: #e1e1e1;
}

.navbar {
    /* background-color: #fff; */
  }

.dropdown a:hover {
  color: #1260af;
  background-color: #e1e1e1;
  border-color: #1260af;
}

.dropdown-menu {
    color: #1260af !important;
    background-color: #e1e1e1 !important;
}

.dropdown-item:hover {
    background-color: #1260af !important;
    color: #e1e1e1 !important;
}

.list {
    color: #1260af;
    background-color: #e1e1e1 !important;
}

.remove {
    color: #1260af;
    background-color: #e1e1e1 !important;
}

.purchase {
    color: #1260af;
    background-color: #e1e1e1 !important;
}

.list:hover {
    background-color: #1260af !important;
    color: #e1e1e1 !important;
}

th {
    color: #1260af;
}

table, td {
   text-align: center;
   color: #e1e1e1;
   background: rgba(00, 00, 00, 0.5);
}

#balance {
    margin-left: 3px;
}

#dataTable {
    /* color: white; */
}

#tableDIV {
    width: 100%;
}

#inputGroup-sizing-default{
    background-color: #e1e1e1;
    color: #1260af;
    border-color: #e1e1e1;
    /* padding: 10px; */
    margin-left: 16px;
}

#logged, #balance {
    color: #1260af;
}

#staticUser, #staticBalance {
    /* background-color: #1260af; */
    color: #e1e1e1;
    border-color: #e1e1e1;
    width: 50px;
    padding: 5px;
}

#user {
    background-color: #1260af;
    color: #e1e1e1;
    border-color: #e1e1e1;
    width: 50px;
    padding: 5px;
    text-align: center;
}

#item{
    background-color: #1260af;
    color: #e1e1e1;
    border-color: #e1e1e1;
    width: 150px;
    padding: 5px;
    text-align: center;
}

#cost{
    background-color: #1260af;
    color: #e1e1e1;
    border-color: #e1e1e1;
    width: 85px;
    padding: 5px;
    text-align: center;
}

#list{
    font-size: 14px;
    vertical-align: middle;
    padding-left: 10px;
    padding-bottom: 2px;

}

#dataTable{
  text-align: center;
  border-collapse: collapse;
}
