<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <!-- <link rel="icon" type="image/png" href="./favicon.png"> -->

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/login-style.css">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gugi|Open+Sans|Oswald" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Bootstrap JS plugins -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</head>

<body>


    <div class="container-fluid h-100">

        <div class="row h-100 justify-content-center align-self-center" id="login">

            <div class="col">

                <h1 class="display-1" id="title">Airline Consortium</h1>

                <h4 id="sub">Enter your airlines' credentials below and join the fun!</h4>
                <!-- <h5 id="sub">Note: Membership costs an initial fee of 1 Ether.</h5> -->

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="user">Airline Name:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="user" id="username">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="pass">Password:</span>
                    </div>
                    <input type="password" class="form-control" aria-label="Default" aria-describedby="pass" id="password">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addr">Eth Address:</span>
                    </div>
                    <input type="address" class="form-control" aria-label="Default" aria-describedby="addr" id="address">
                </div>

                <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="priv">Private Key:</span>
                        </div>
                        <input type="password" class="form-control" aria-label="Default" aria-describedby="priv" id="private">
                    </div>

                <div class="row text-center">
                    <div class="col-6">
                        <button type="number" onclick="join()" class="btn" id="button">Join</button>
                    </div>
                    <div class="col-6 align-self-center">
                        <a href="airline_login.html" id="link">Back to airline login</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--...........................................................................................................-->

    <script>

        function join() {

            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var address = document.getElementById('address').value;
            var priv_key = document.getElementById('private').value;
            // var balance = document.getElementById('balance').value;

            if (username == '') {
                alert("Please enter username");
            }
            else if (password == '') {
                alert("Please enter password");
            }
            else if (address == '') {
                alert("Please enter a valid Ethereum address");
            }
            else if (priv_key == '') {
                alert("Please enter a valid private key");
            }
            else {
                var jsonToSend = { "username": username, "password": password, "address": address, "priv_key": priv_key};

                var req = new XMLHttpRequest();
                req.open('POST', '/createAirline', true);
                req.setRequestHeader("Content-type", "application/json");

                jsonToSend = JSON.stringify(jsonToSend);

                req.send(jsonToSend);
                req.onload = function () {
                    var response = JSON.parse(req.responseText);
                    console.log(response);
                }
                alert('Account created!');
                window.location.href = "/views/airline_login.html";
            }
        }

    </script>

</body>

</html>
