<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <!-- <link rel="icon" type="image/png" href="./favicon.png"> -->

  <!-- Local CSS -->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

  <!-- Custom Font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gugi|Open+Sans|Oswald" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Bootstrap JS plugins -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar w-100">

    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" id='title' href="#">Airline Consortium</a>
        <span class="align=middle" style="color: #1260af;">Logged in as: </span>
        <span class="align=middle" id="staticUser"></span>
        <span class="align=middle" style="color: #1260af;">Balance: </span>
        <span class="align=middle" id="staticBalance"></span>
        <span class="align=middle" style="color: #1260af;">Reserved flight: </span>
        <span class="align=middle" id="staticFlight"></span>
        <span class="align=middle" style="color: #1260af;">Request: </span>
        <span class="align=middle" id="staticRequest"></span>
        <!-- <span class="align=middle" style="color: #1260af;">Request: </span>
        <span class="align=middle" id="staticRequest"></span> -->
      </li>
    </ul>

    <div class="form-inline ml-auto">
      <button type="button" onclick="logOut()" class="btn list" data-value="NONE">Log out
        <!-- <i class="material-icons" id='list'>send</i> -->
      </button>
    </div>

    <ul class="nav navbar-nav" style="padding-left: 16px;">
      <li class="nav-item">
        <button type="button" onclick="bookFlight()" class="btn purchase" data-value="NONE">Book Selected Flight
          <!-- <i class="material-icons" id='list'>send</i> -->
        </button>
      </li>
    </ul>

    <ul class="nav navbar-nav" style="padding-left: 16px;">
      <li class="nav-item">
        <button type="button" onclick="changeFlight()" class="btn remove" data-value="NONE">Change to Selected Flight
          <!-- <i class="material-icons" id='list'>send</i> -->
        </button>
      </li>
    </ul>

  </nav>

  <div id="tableDIV">
    <p id="dataTable"></p>
  </div>

  <!--...........................................................................................................-->

  <script>
    var user = '';
    var bal = '';
    var fli = '';
    var req = '';
    var flight_id = 0;

    var checkboxes = [];

    function logOut() {
      window.location.href = "login.html";
    }

    function getFlights() {
      var req = new XMLHttpRequest();
      req.open('POST', '/getFlights', true);
      req.setRequestHeader("Content-type", "application/json");
      req.send()

      req.onload = function () {
        console.log("In getFlights():");
        var allFlights = JSON.parse(req.responseText);
        console.log(allFlights);
        drawTable(allFlights);
      }
    }

    function drawTable(itemList) {

      //Making the headers for table along with what field they map too from mongo
      var headers = ["Select", "Flight Number", "To", "From", "Departing", "Arriving", "Airline", "Price ($)", "Status"];
      var rowHeaders = ["flight_num", "to", "from", "departing", "arriving", "comp", "cost", "status"];

      var table = document.createElement("table");
      table.setAttribute('width', "100%");
      table.setAttribute('cellpadding', 10);
      var tableRow = table.insertRow(-1);

      for (var i = 0; i < headers.length; i++) {
        var tableHeader = document.createElement("th");
        tableHeader.innerHTML = headers[i];
        tableRow.appendChild(tableHeader);
      }

      //Creating the rows of the table
      for (var i = 0; i < itemList.length; i++) {
        tableRow = table.insertRow(-1);

        var checkbox = document.createElement("INPUT");
        checkbox.type = "checkbox";
        checkbox.setAttribute("id", itemList[i][rowHeaders[0]]);
        checkboxes.push(checkbox);
        tableRow.appendChild(checkbox);

        for (var k = 0; k < rowHeaders.length; k++) {
          var tableCell = tableRow.insertCell(-1);
          tableCell.innerHTML = itemList[i][rowHeaders[k]];
        }
      }

      var itemTable = document.getElementById('dataTable');
      itemTable.innerHTML = "";
      itemTable.appendChild(table);
    }

    function getLogin() {

      var req = new XMLHttpRequest();
      req.open('POST', '/getUser', true);
      req.setRequestHeader("Content-type", "application/json");

      req.send();

      req.onload = function () {
        var response = JSON.parse(req.responseText);
        console.log(response);
        var username = response.username;
        user = username;
        var balance = response.balance;
        bal = balance;
        var flight = response.booked_num;
        fli = flight;
        var request = response.request;
        req = request;
        document.getElementById('staticUser').innerHTML = username;
        document.getElementById('staticBalance').innerHTML = balance;
        document.getElementById('staticFlight').innerHTML = flight;
        document.getElementById('staticRequest').innerHTML = request;
        getFlights();
      }
    }

    function bookFlight() {
      var req = new XMLHttpRequest();
      req.open('POST', '/bookFlight', true);
      req.setRequestHeader("Content-type", "application/json");

      var flight_num = -1;

      // Get all ID's of selected checkboxes
      for (var i = 0; i < checkboxes.length; i++) {
        // console.log(checkboxes[i]);
        if (checkboxes[i].checked) {
          flight_num = checkboxes[i].id;
          break;
        }
      }

      req.send(JSON.stringify({user: user, flight_num: flight_num}));

      req.onload = function () {
        console.log("bookFlight() response...");
        alert(req.responseText);
        getFlights();
      }
    }

    function changeFlight() {
      var req = new XMLHttpRequest();
      req.open('POST', '/changeFlight', true);
      req.setRequestHeader("Content-type", "application/json");

      var flight_to_switch_to = -1;

      // Get all ID's of selected checkboxes
      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
          flight_to_switch_to = checkboxes[i].id;
          break;
        }
      }

      req.send(JSON.stringify({user: user, switch_num: flight_to_switch_to}));

      req.onload = function () {
        alert(req.responseText);
        var back = JSON.parse(req.responseText);
        if (back.valid) {
          document.getElementById('staticRequest').innerHTML = "flight " + flight_to_switch_to + " -- pending approval";
        }
      }
  }

    window.onload = function () {
      getLogin();
    };

  </script>

</body>

</html>